<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Styles/Login.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Afacad"
    />
    <title>Home</title>
  </head>
  <body>
    <header class="HeaderLogin">
      <h1 class="H1Login">login</h1>
    </header>
    <main class="MainLogin">
      <input
        class="InputEmail"
        type="email"
        name=""
        id=""
        placeholder="Email"
      />
      <input
        class="InputPass"
        type="password"
        name=""
        id=""
        placeholder="Password"
      />
      <div
        style="
          padding: 2%;
          text-align: center;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        "
      >
        <p class="QuestionAge">You are +18?</p>
        <div class="cntr">
          <input checked="" type="checkbox" id="cbx" class="hidden-xs-up" />
          <label for="cbx" class="cbx"></label>
        </div>
        <a href="./Home.html">
          <button class="ButtonContinue">Continue</button>
        </a>
      </div>
      <div
        style="
          padding: 2%;
          text-align: center;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center;
        "
      >
        <h3 class="QuestionRegister">Not Register?</h3>
        <a href="./register.html"
          ><button class="ButtonQuestionRegister">Register Now!</button></a
        >
      </div>
    </main>
    <footer class="Footer">
      <p class="pFooter">Reservate to Martín Luzardo</p>
    </footer>
  </body>
</html>
